<div id="<%= dom_id profile %>">

  <p>
    <%= image_tag profile.banner.attached? ? url_for(profile.banner.variant(resize_to_limit: [150, nil])) : asset_path('default_profile_pic.jpg'), class: "img-thumbnail", alt:"Banner Picture", width: "150" %>
  </p>

  <p>
    <%= image_tag profile.pfp.attached? ? url_for(profile.pfp.variant(resize_to_limit: [150, nil])) : asset_path('default_profile_pic.jpg'), class: "img-thumbnail", alt:"Profile Picture", width: "300" %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

</div>
