<div id="<%= dom_id feed_item %>">
  <p>
    <strong>Body:</strong>
    <%= feed_item.body %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= feed_item.likes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feed_item.user_id %>
  </p>

</div>
