<div class="header">
  <h1>Editing Feed Item</h1>
  <div class="auth-links">
    <%= link_to "Back to Feed Items", user_feed_items_path(@user), class: 'action-link' %>
  </div>
</div>

<%= render "form", feed_item: @feed_item %>

<br>