<p style="color: green"><%= notice %></p>

<%= render @feed_item %>

<div>
  <%= link_to "Edit this feed item", edit_user_feed_item_path(@user, @feed_item) %> |
  <%= link_to "Back to feed items", user_feed_items_path(@user) %>
</div>
